body {
    background: gray;
    margin: 0;
}
.card {
    background: black;
    width: 640px;
    height: 900px;
    margin: auto;
    padding: 100px;

}
.cardheader{
    width:640px;
    height: 70px;
    margin-top: 0pt;
    margin-left: 0pt;
    margin-right: 300pt;
    margin-bottom: 0px;
    background: white;
    float: inline;
}
.float-right {
    float:right;
}
.cardbody { 
    width : 640px;
    margin-top: 0px;
}
.cardfooter {
    background-color: white;
    width:640px;
    height:155x;
    margin:auto;
}


