body {
  background: gray;
  margin: 0;
}
.card {
  background: black;
  width: 640px;
  height: 775px;
  margin: auto;
  padding: 100px;

}
.cardheader{
  width:640px;
  height: 70px;
  margin-top: 0pt;
  margin-left: 0pt;
  margin-right: 300pt;
  margin-bottom: 0px;
  background: white;
  float: inline;
}
.float-right {
  float:right;
}
.cardbody { 
  width : 640px;
  height: auto;
  margin-top: 0px;
  background-color: white;
}
.cardfooter {
  background-color: white;
  padding-top: 10px;
  padding-left: 1%;
  width:632px;
  margin:auto;
  font-size: 14pt;
}
.bookmark {
float: right;
}
.far {
  padding-left: 1%;
  
}
